name: Application Build

on:
  workflow_dispatch:

jobs:
  build:
    name: setup nodejs * application build
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
    - name: setup Nodejs
      run: get-content package.json
